recursive-include intermine_boot/docker-intermine-gradle/intermine_builder *
recursive-include intermine_boot/docker-intermine-gradle/postgres *
recursive-include intermine_boot/docker-intermine-gradle/solr *
recursive-include intermine_boot/docker-intermine-gradle/tomcat *
