recursive-include docker-intermine-gradle/intermine_builder *
recursive-include docker-intermine-gradle/postgres *
recursive-include docker-intermine-gradle/solr *
recursive-include docker-intermine-gradle/tomcat *
